@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>
<img src="~/Images/louisville.jpg" class="img-responsive img-rounded pull-right" />
<section class="contact">
    <header>
        <h3>Phone</h3>
    </header>
    <p>Main: 425.555.0100</p>
    <p>After Hours: 425.555.0199</p>
</section>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>Support: <a href="mailto:Support@example.com">Support@example.com</a></p>
    <p>Marketing: <a href="mailto:Marketing@example.com">Marketing@example.com</a></p>
    <p>General: <a href="mailto:General@example.com">General@example.com</a></p>
</section>

<section class="contact">
    <header>
        <h3>Address</h3>
    </header>
    <p>
        One Microsoft Way<br />
        Redmond, WA 98052-6399
    </p>
</section>