@{
    ViewBag.Title = "Home Page";
}
@section headerLogo {
    <div class="headerLogo">
        <div class="headerLogoBtmBorder"></div>
            <div class="container">
                <img src="Images/rsMedicalSymbol.png" class="pull-right" />
                <div class="logo">
                Record Solutions
                <div class="slogan">
                    Whatever your record need, we can get it done.
                </div>
            </div>
        </div>
    </div>
}

<!-- Page header -->
<div class="row">
    <div class="col-xs-12 centerTxt">
        <h1>We offer medical record services.</h1>
        <br/>
    </div>
</div>
<!-- Thirds -->
<div class="row">
    <div class="col-xs-4 third">
        <img src="Images/iconEq.png" /><br/>
        Scalable, customizable, manageable solutions for any-sized business.
    </div>
    <div class="col-xs-4 third">
        <img src="Images/iconLove.png" /><br/>
        Customer satisfaction; it's our primary goal.  We'd love for you to love us.
    </div>
    <div class="col-xs-4 third">
        <img src="Images/iconSafe.png" /><br/>
        Security.  Keeping records safe is what we do.  We like to think we're 
        pretty good at it.
    </div>
</div>
<div class="row" style="margin: 50px 15px;">
    <div class="col-md-12" style="background-color: #7c9edc;">
        <img src="Images/louisville.jpg" class="img-responsive pull-left" style="margin-left:-15px;" />
        <p class="imgTxt">Record Solutions is a home-grown, North-American medical-record service 
            provider, proudly based in Louisville, KY.</p>
    </div>
</div>
<br /><br />
