@{
    ViewBag.Title = "Pricing";
}
<style>
    .planIcon {
        width: 150px;
        border-radius: 10px;
        margin: 0px auto;
        color: #235cc6; 
        text-align: center;
        font-size: 5em;
    }
</style>
<h1>Pricing</h1>
<div class="row">
    <div class="col-sm-12">
        <p>Here we're also going to want to itemize some information.  However, unlike in Services,
            Pricing will break down the services we offer into packages or service-levels, tailored
            to suit different consumer-bases we expect to reach.  To signify the difference in the
            type of information displayed, we'll display it in a different configuration.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="planIcon"><span class="glyphicon glyphicon-th-large"></span></div>
        <h2>Simple Plan</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam cursus leo non vestibulum semper. 
            Maecenas tellus neque, dapibus in molestie eget, tempor in purus. Nam vehicula suscipit condimentum. 
            Pellentesque vulputate felis a urna tempor commodo.</p> 
        <p>Ut viverra convallis turpis in eleifend. Sed vitae metus at felis fringilla interdum ullamcorper non 
            nibh. Nulla a nisl condimentum, ultricies enim luctus, tincidunt massa. Donec volutpat facilisis odio, 
            sit amet vehicula ligula tempus sit amet.</p>
        <ul>
            <li>Lorem ipsum dolor sit amet, morbi faucibus ultrices. </li>
            <li>Enim imperdiet metus. </li>
            <li>Lorem mattis ac, vestibulum semper, sed nullam. </li>
            <li>Primis sed, dui arcu. </li>
        </ul>
        <hr />
        <h1 class="text-center text-primary">
            <b>$</b>49.97
        </h1>
    </div>
    <div class="col-sm-6">
        <div class="planIcon"><span class="glyphicon glyphicon-th"></span></div>
        <h2>Advanced Plan</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam cursus leo non vestibulum semper. 
            Maecenas tellus neque, dapibus in molestie eget, tempor in purus. Nam vehicula suscipit condimentum. 
            Pellentesque vulputate felis a urna tempor commodo.</p> 
        <p>Ut viverra convallis turpis in eleifend. Sed vitae metus at felis fringilla interdum ullamcorper non 
            nibh. Nulla a nisl condimentum, ultricies enim luctus, tincidunt massa. Donec volutpat facilisis odio, 
            sit amet vehicula ligula tempus sit amet.</p>
        <ul>
            <li>Lorem ipsum dolor sit amet, morbi faucibus ultrices. </li>
            <li>Enim imperdiet metus. </li>
            <li>Lorem mattis ac, vestibulum semper, sed nullam. </li>
            <li>Primis sed, dui arcu. </li>
        </ul>
        <hr />
        <h1 class="text-center text-primary">
            <b>$</b>149.97
        </h1>
    </div>
</div>