@{
    ViewBag.Title = "Services";
}

<h1>Services</h1>

<div class="row">
    <div class="col-sm-3">
        <img src="~/Images/snap1.png" class="img-responsive img-rounded" />
    </div>
    <div class="col-sm-9">
        <h2>Some lorem ipsum, <small>just for the hell of it.</small></h2>
        <p>
            Lorem ipsum dolor sit amet, vel aeque placerat eloquentiam ex, at duo 
            amet magna. Cum splendide consequuntur cu, duo scripta tamquam habemus at. 
            Ei soluta disputando vix. Falli utinam qualisque ne sit, sed tota legendos 
            indoctum no. Ponderum probatus theophrastus no sed, nec id nominati 
            volutpat. Eos quem ferri delicatissimi ei, ei dicam delenit docendi sea.
        </p>
        <p>
            Nec stet veniam partem no. Ipsum legere disputando an has. Ex quo antiopam 
            scriptorem. Id eum tritani maiestatis. Id sed euismod aliquam dissentias.
        </p>
    </div>
</div>
<h2 style="text-align: center; margin-top: 50px; border-bottom: solid 1px #ddd;">Detail Itemizations</h2>
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <blockquote>
            <p>Normally, both your asses would be dead as fucking fried chicken, but you happen to pull 
                this shit while I'm in a transitional period so I don't wanna kill you, I wanna help you.</p>
            <footer><em>- Samuel L. Jackson</em> in <cite title="Pulp Fiction">Pulp Fiction</cite></footer> 
        </blockquote>
    </div>
</div>
<div class="row">
    <div class="col-md-8 col-md-offset-2 text-center">
        <p>While a nice header with an image may work for a little bit of attention, it would be really
        effective to itemize some of the things we could do for customers here.  I've got
        some nifty graphics just for such an occassion.</p>
    </div>
</div>
<div class="row">
    <div class="col-sm-4" style="
        background-color: #235cc6; 
        color: #fff; 
        text-align: center;
        font-size: 5em;">
        <span class="glyphicon glyphicon-comment"></span>
    </div>
    <div class="col-sm-8">
        <h3>Comments</h3>
        <p>Ut ius nonumes corpora, at wisi albucius eum. Ei insolens sensibus duo, sea 
            eirmod nominavi te. Vim veritus explicari eu, duo animal imperdiet at, quo sensibus 
            qualisque scribentur et. Eos sale scripta eu, nullam constituto his cu.</p>
    </div>
</div>
<div class="row">
    <div class="col-sm-4" style="
        background-color: #235cc6; 
        color: #fff; 
        text-align: center;
        font-size: 5em;">
        <span class="glyphicon glyphicon-calendar"></span>
    </div>
    <div class="col-sm-8">
        <h3>Timed Hosting</h3>
        <p>Ut ius nonumes corpora, at wisi albucius eum. Ei insolens sensibus duo, sea 
            eirmod nominavi te. Vim veritus explicari eu, duo animal imperdiet at, quo sensibus 
            qualisque scribentur et. Eos sale scripta eu, nullam constituto his cu.</p>
    </div>
</div>
<div class="row">
    <div class="col-sm-4" style="
        background-color: #235cc6; 
        color: #fff; 
        text-align: center;
        font-size: 5em;">
        <span class="glyphicon glyphicon-tower"></span>
    </div>
    <div class="col-sm-8">
        <h3>Fortress Security</h3>
        <p>Ut ius nonumes corpora, at wisi albucius eum. Ei insolens sensibus duo, sea 
            eirmod nominavi te. Vim veritus explicari eu, duo animal imperdiet at, quo sensibus 
            qualisque scribentur et. Eos sale scripta eu, nullam constituto his cu.</p>
    </div>
</div>
